# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Django
# =========================
db.sqlite3
*.log
local_settings.py

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Static / Media
# =========================
staticfiles/
media/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Node (caso use scripts JS)
# =========================
node_modules/